<div class="audio post-content post-{{item['_id']}}" data-id="{{item['_id']}}">
    {% autoescape false %}

    <div class="audio-container">

        {% if item['info']['album_art'] %}
        <div class="cover-container">
            <a href="{{ item['info']['album_art']}}" target="_blank">
                <img src="{{ item['info']['album_art']}}">
            </a>
        </div>
        {% endif %}

        <div class="player-container">
            <div class="player">
                {{ item['info']['player'] }}
            </div>

            {% if item['info']['track_name'] %}
            <div class="track">
                <b>Track :</b>
                <span>{{ item['info']['track_name'] }}</span>
            </div>
            {% endif %}

            {% if item['info']['album'] %}
            <div class="album">
                <b>Album :</b>
                <span>{{ item['info']['album'] }}</span>
            </div>
            {% endif %}

            {% if item['info']['artist'] %}
            <div class="artist">
                <b>Artist :</b>
                <span>{{ item['info']['artist'] }}</span>
            </div>
            {% endif %}

            {% if item['info']['year'] %}
            <div class="year">
                <b>Year :</b>
                <span>{{ item['info']['year'] }}</span>
            </div>
            {% endif %}

            {% if item['info']['audio_url'] %}
            <div class="link">
                <b>
                    <a href="{{ item['info']['audio_url'] }}">Link to audio</a>
                </b>
            </div>
            {% endif %}
        </div>
    </div>

    {% if item['info']['caption'] %}
    <div class="text-container">
        {{ item['info']['caption'] }}
    </div>
    {% endif %}

    {% endautoescape %}
</div>
