<div class="text post-content post-{{item['_id']}}" data-id="{{item['_id']}}">
    {% autoescape false %}

    {% if item['info']['title'] %}
    <h3 class="title">{{ item['info']['title']}}</h3>
    {% endif %}

    {% if item['info']['body'] %}
    <div class="text-container">
        {{ item['info']['body'] }}
    </div>
    {% endif %}

    {% endautoescape %}
</div>