<!-- Small action menu -->
<div class="col-xs-12 action-menu-container action-menu-container-small">
    <div class="list-group action-menu">
        <div class="list-group-item"><a href="#" class="action-link" id="authBtnSm">Authorize</a></div>
        <div class="list-group-item"><a href="#" class="action-link" id="authOAuthBtnSm">Tumblr OAuth</a></div>
        <div class="list-group-item emphase" id="postsLinkBtSm"><a href="/index.html" class="action-link">Posts</a></div>
        <div class="list-group-item" id="blogsLinkBtSm"><a href="/blogs.html" class="action-link">Blogs</a></div>
        <div class="list-group-item" id="tagsLinkBtSm"><a href="/tags.html" class="action-link">Tags</a></div>
        <div class="list-group-item list-divider">&nbsp;</div>
        <div class="list-group-item" id="exportLinkBtSm"><a href="/export.html" class="action-link">Export blogs</a></div>
        <div class="list-group-item" id="rssBtSm"><a href="/posts/export?type=rss" class="action-link">RSS feed</a></div>        

        <div class="list-group-item emphase">
            <div class="dropdown">
                <div class="dropdown-toggle" id="getDataMenuSm" data-toggle="dropdown"><a href="#" class="action-link">Grabber <span class="caret"></span></a></div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="getDataMenu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="getBlogsByTagsSm">Get blogs by tags</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="getBlogsByLinksSm">Get blogs by links</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="getBlogsByPostsSm">Get blogs by posts</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="getBlogsInfoSm">Update blogs info</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="getPostsSm">Read blogs</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="getUpdatePostsSm">Update all posts</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="importParsingSm">Import by parsing</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="importFollowersSm">Import followers</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="importFollowingsSm">Import followees</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="getHealthSm">Get app status</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>            
<!-- End of small action menu -->

<!-- Content -->
<div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-10 col-md-offset-1 col-md-8 col-lg-offset-2 col-lg-7" id="content-column">
