body {
    .site-content {
        .content {
            table.tags-content {
                margin-top: 25px;
                .titleCol {
                    padding-left: 20px;
                }
                .deleteCol {
                    width: 130px;
                    text-align: center;
                    a {
                        text-decoration: none;
                        color: rgba(0,0,0,0.25);
                        &:hover {
                            color: rgba(0,0,0,0.75);
                        }
                    }
                }
            }
        }
    }
}
