<!-- View options dialog -->
<div class="modal fade" id="viewOptionsModal" tabindex="-1" role="dialog" aria-labelledby="viewOptionsModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">View options</h4>
            </div>

            <div class="modal-body">                            
                <form role="form" id="viewOptions">

                    <div class="form-group">
                        <label for="_id">Title</label>
                        <input type="text" class="form-control" name="_id" placeholder="Enter tag title regexp" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="order">Sorting order</label>
                        <select name="order" class="form-control">
                            <option value="1">Ascending</option>
                            <option value="-1">Descending</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="skip">Pages skipping</label>
                        <input type="text" class="form-control" name="skip" placeholder="Skip first n pages" autocomplete="off">
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="commit">Apply</button>
            </div>
        </div>
    </div>
</div>
<!-- View options dialog -->