{% for item in items %}
<tr>
    <td class="avatarCol">
        <a href="http://{{ item['_id']; }}" target="_blank">
            <img src="http://api.tumblr.com/v2/blog/{{ item['_id']; }}/avatar/40">
        </a>
    </td>
    <td class="infoCol">
        <div class="main-info">
            {% if item['info']!== false %}
            <div class="more-button">
                <button class="btn btn-default" data-toggle="collapse" data-target="[data-forblog='{{ item['_id'] }}']">
                    Blog info
                </button>
            </div>
            {% endif %}

            <div class="left-part info-part {% if edit %}edit{% endif %}">
                <div class="link">
                    <a href="http://{{ item['_id']; }}" target="_blank">{{ item['_id']; }}</a>
                </div>
                <div class="note">
                    {{ item['note'] }}
                </div>
                <div class="labels">
                    {% if item['process']==0 %}
                    <span class="label label-warning">Unlooked</span>
                    {% elseif item['process']==1 %}
                    <span class="label label-primary">Look for links</span>
                    {% else %}
                    <span class="label label-danger">Don't look for links</span>
                    {% endif %}

                    {% if item['not_available']==0 %}
                    <span class="label label-primary">Available</span>
                    {% else %}
                    <span class="label label-danger">Not available</span>
                    {% endif %}

                    {% if item['read']==1 %}
                    <span class="label label-primary">Read</span>
                    {% else %}
                    <span class="label label-default">Not read</span>
                    {% endif %}

                    {% if item['export']==1 %}
                    <span class="label label-primary">Exported</span>
                    {% else %}
                    <span class="label label-default">Not exported</span>
                    {% endif %}
                </div>
            </div>

            <div class="left-part form-part {% if edit %}edit{% endif %}">
                <form role="form" class="update-blog-form" id="updateBlogForm-{{ item['_id'];}}">
                    <div class="link">
                        <a href="http://{{ item['_id']; }}" target="_blank">{{ item['_id']; }}</a>
                        <input type="hidden" name="_id" value="{{ item['_id']; }}">
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            Note
                        </span>
                        <input type="text" class="form-control" name="note" placeholder="Enter note" value="{{ item['note'] }}" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="process" value="1" {% if item['process']==1 %}checked{% endif %}> <span class="label label-primary">Look for links</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="process" value="0" {% if item['process']==0 %}checked{% endif %}> <span class="label label-warning">Unlooked</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="process" value="-1" {% if item['process']==-1 %}checked{% endif %}> <span class="label label-danger">Don't look for links</span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="not_available" value="0" {% if item['not_available']==0 %}checked{% endif %}> <span class="label label-primary">Available</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="not_available" value="1" {% if item['not_available']==1 %}checked{% endif %}> <span class="label label-danger">Not available</span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="read" value="1" {% if item['read']==1 %}checked{% endif %}> <span class="label label-primary">Read</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="read" value="0" {% if item['read']==0 %}checked{% endif %}> <span class="label label-default">Not read</span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="export" value="1" {% if item['export']==1 %}checked{% endif %}> <span class="label label-primary">Exported</span>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="export" value="0" {% if item['export']==0 %}checked{% endif %}> <span class="label label-default">Not exported</span>
                        </label>
                        <input class="btn btn-primary submit-button" type="submit" value="Save changes">
                    </div>
                </form>
            </div>
        </div>

        {% if item['info']!== false %}
        <div class="blog-info panel panel-default collapse {% if !compact %}in{% endif %}" data-forblog="{{ item['_id'] }}">
            <div class="panel-body">
                <div>
                    <strong>{{item['info']['title']}}</strong>
                </div>

                <div>
                    <strong>Updated at {{item['info']['updated']}}</strong>
                </div>

                {% if item['info']['share_likes']!=false %}
                <div>
                    <a href="http://www.tumblr.com/liked/by/{{item['info']['name']}}" target="_blank">
                        <strong>Likes: </strong><span class="badge">{{item['info']['likes']}}</span>
                    </a>
                </div>
                {% endif %}

                <div>
                    <strong>Posts: </strong><span class="badge">{{item['info']['posts']}}</span>
                </div>

                <div>
                    {% autoescape false %}
                    {{item['info']['description']|striptags}}
                    {% endautoescape %}
                </div>
            </div>
        </div>
        {% endif%}
    </td>
    <td class="editCol">
        <div class="icon">
            <a href="#" class="{% if edit %}viewBlog{% else %}editBlog{% endif %}">
                <span class="glyphicon {% if edit %}glyphicon-eye-open{% else %}glyphicon-pencil{% endif %}"></span>
            </a>
        </div>
    </td>
</tr>
{% endfor %}